{% extends "base.html" %}
{% block title %}Подписки{% endblock %}
{% block header %}Посты авторов, на которых вы подписаны{% endblock %}
{% block content %}
  <h1> Лента подписок </h1>
  {% include 'posts/includes/switcher.html' %}
  {% load cache %}
  {% cache 20 follow_index with page_obj %}
  {% for post in page_obj %}
    <article>
      <ul>
        <li>
          Автор: {{ post.author.get_full_name }}
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      <p>
        {{ post.text|linebreaks }}
      </p>
      {% if post.group %}
        <a href="{% url 'posts:group_list' post.group.slug %}">
          Сообщество #{{ post.group }}
        </a>
      {% endif %}
      {% if not forloop.last %}<hr>{% endif %}
    </article>
  {% endfor %}
  {% endcache %} 
  {% include 'posts/includes/paginator.html' %}
{% endblock %}